<script type="text/javascript" src='src/js/page/calendar.js'></script>

<div align=center>
    <br>
    <div style="width: 900px; border:1px solid #c0c0c0; padding:6px;">

        <table id="calendar"  border="0" cellspacing="0" cellpadding="1" style="font-size: 22px">
            <thead id="calendarHead">
            <tr style="height: 50px"><td><b>‹</b><td colspan="5"><td><b>›</b>
            <tr style="height: 50px; font-size: 22px"><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <br>
    <button id="btnNewEvent" class="btn btn-success">Добавить новое событие</button>
</div>


