
<form class="form-horizontal">
    <h1>Войти</h1><hr>
        <div class="form-group">
            <label for="emailField" class="col-md-3 control-label">e-mail</label>
            <div class="col-md-7">
                <input type="email" id="emailField" class="form-control">
            </div>
        </div>


        <div class="form-group">
            <label for="passField" class="col-md-3 control-label">Пароль</label>
            <div class="col-md-7">
                <input type="password" id="passField" class="form-control">
                <span id = 'errLog' class='alert alert-danger' role ='alert' style="display: none;">Неверные E-mail или пароль</span>
            </div>
        </div>

        <div style="text-align: center">
            <button class="btn btn-default" id="btnBack">Назад</button>
            <button class="btn btn-default" id="btnLogin" type="button">Войти</button>
            <button class="btn btn-default">Сбросить</button>

        </div>
    <script src="src/js/lib/jquery-1.12.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="src/js/lib/bootstrap.min.js"></script>
    <script src="src/js/lib/jquery.calendar-widget.js"></script>
    <script type="text/javascript" src="src/js/page/login.js"></script>

</form>
