<div id="regEventDlg" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="regEventHeader">Добавление нового события:</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="eventIdDlg">

                    <div class="form-group">
                        <label for="eventNameDlg" class="col-md-3 control-label">Название события:</label>
                        <div class="col-md-7">
                            <input type="text" id="eventNameDlg" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="eventDataDlg" class="col-md-3 control-label">Дата события:</label>
                        <div class="col-md-7">
                            <input type="text" id="eventDataDlg" class="form-control" placeholder="дд.мм.гггг">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-3 control-label">Время с :</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input placeholder="чч:мм" type="text" class="form-control" id="eventTimeStart" value="" />
                            </div>
                        </div>
                        </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"> до :</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input placeholder="чч:мм" type="text" class="form-control" id="eventTimeEnd" value="" />
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="eventAboutDlg" class="col-md-3 control-label">Описание события:</label>
                        <div class="col-md-7">
                            <textarea id="eventAboutDlg" class="form-control"></textarea>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button id="btnEventCancelDlg" data-dismiss="modal" class="btn btn-danger text-right" aria-hidden="true">Назад</button>
                        <button id="btnEventСreateDlg" data-dismiss="modal" class="btn btn-success text-right" aria-hidden="true">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>