
<div class="col-md-1"></div>

<div class="col-md-10">

    <h1 id="hWeek" class="text-center"></h1>

    <br>
    <br>
    <table id="tblRaspis" border="1" align="center">
        <thead>
        <tr>
            <td class="th_row_day" style="width:100px;"></td>
            <td class="th_row_day" style="width:100px;">8:00-9:35</td>
            <td class="th_row_day" style="width:100px;">9:50-11:25</td>
            <td class="th_row_day" style="width:100px;">11:55-13:30</td>
            <td class="th_row_day" style="width:100px;">13:45-15:20</td>
            <td class="th_row_day" style="width:100px;">15:50-17:25</td>
            <td class="th_row_day" style="width:100px;">17:40-19:15</td>
            <td class="th_row_day" style="width:100px;">19:30-21:05</td></tr>
        </thead>
        <tbody></tbody>

    </table>
</div>

<div class="col-md-1"></div>




