<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-5">
        <br>
        <table class="table table-hover table-striped" id="sheduleTable">
            <thead>
                <tr class="success" style="text-align: center">
                    <th class="col-md-4"></th>
                    <th class="col-md-4 text-center" id="dayOfWeek"></th>
                    <th class="col-md-4"></th>
                </tr>
                <tr class="table-striped">
                    <td>#</td>
                    <td>Время</td>
                    <td>Событие</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <br>

        <table class="table table-hover table-striped" id="eventTable">
            <thead>
            <tr class="success" style="text-align: center">
                <th class="col-md-1"></th>
                <th class="col-md-4"></th>
                <th class="col-md-2 text-center" id="dayOfWeek1"></th>
                <th class="col-md-1"></th>
                <th class="col-md-4"></th>
            </tr>
            <tr class="table-striped">
                <td>#</td>
                <td>Название</td>
                <td>Дата</td>
                <td>Время</td>
                <td>Описание</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div class="col-md-1"></div>
</div>