<div id="userProfileDlg" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="userProfileHeader"></h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="userIdDlg">

                    <div class="form-group">
                        <label for="userNameDlg" class="col-md-3 control-label">Имя:</label>
                        <div class="col-md-7">
                            <input type="text" disabled id="userNameDlg" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="userSurNameDlg" class="col-md-3 control-label">Фамилия:</label>
                        <div class="col-md-7">
                            <input type="text" disabled id="userSurNameDlg" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <!--<label for="userNameLoginDlg" class="col-md-3 control-label">Кликуха:</label>-->
                        <label for="userSurNameDlg" class="col-md-3 control-label">userName:</label>
                        <div class="col-md-7">
                            <input type="text" disabled id="userNameLoginDlg" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="userGroupDlg" class="col-md-3 control-label">Учебная гуппа:</label>
                        <div class="col-md-7">
                            <input type="text" disabled id="userGroupDlg" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="userEmailDlg" class="col-md-3 control-label">Электронная почта:</label>
                        <div class="col-md-7">
                            <input type="text" disabled id="userEmailDlg" class="form-control">
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label for="userAboutDlg" class="col-md-3 control-label">Дополнительная информация:</label>-->
                        <!--<div class="col-md-7">-->
                            <!--&lt;!&ndash;<input type="text" disabled id="userAboutDlg" class="form-control">&ndash;&gt;-->
                            <!--<textarea disabled id="userAboutDlg" class="form-control"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->


                    <div class="modal-footer">
                        <button id="btnUserCancelDlg" data-dismiss="modal" class="btn btn-danger center-block" aria-hidden="true">Назад</button>
                        <!--<button id="btnUserLogout" class="btn btn-danger">Выход</button>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>