nav.navbar.navbar-default {
    background-color: #179f29;
    height: 85px;
}
.navbar-default .navbar-text {
    color: #e4e4e4;
}
button#userProfile{
    color: #ffffff;
    font-size: 16px;
}

.navbar-default .navbar-link:hover {
    color: #e4e4e4;
}

.navbar-default .navbar-link {
    color: #e4e4e4;
}
img {
    width: 25%;

}


p.navbar-text{
    margin-top: 25px;
}
p.nav-text{
    margin-top: 25px;
    font-size:25px ;
    text-shadow:    0px 4px 3px rgba(0,0,0,0.3),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    margin-left:17%;
}
h1{
    text-align: center;
}
.btn-group-vertical {
    margin: 15% 0 0 40%;
}
button#btnUserLogout {
    color: #FFFBDE;
    font-size: 17px;
}
#calendar{
    max-width: 900px;
    margin: auto;
}
#calendar .fc-day {
    transition: .5s;
}
#calendar .fc-day:hover {
    background: #ffe464;
}
th #dayOfWeek {
    text-align: center;
    width: 33%;
}
.table{
    text-align: center;}

#schedule .th_row_day{
    font-size: 15px;
    text-align: center;
    background: #dff0d8;
}
#schedule .th_row_day2{
    background: #dff0d8;
}
#schedule .tr {
    font-size: 10px;

}
#calendar {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;

}
#calendar thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(50, 50, 50);
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}
#calendar tbody td {
    color: rgb(44, 86, 122);
}
#calendar tbody td:nth-child(n+6), #calendar .holiday {
    color: rgb(231, 140, 92);
}
#calendar tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
    cursor: pointer;

}
#trCalendar{
    height: 50px;
}
#calendar .fc-day {
    transition: .5s;
    cursor: pointer;
}
#calendar .fc-day:hover {
    background: #ffe464;
}
#calendarHead{
    background-color: #75ff68
}
